<div *ngFor="let regla of reglas; let i = index" class="py-2">
    <p>Tipo de Crédito: {{ regla.nombre }}</p>
    <form [formGroup]="reglaForm" (ngSubmit)="updateRegla(i)">
      <!-- Campos del formulario -->
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" />
      <input type="number" [value]="regla.interes" />

      <input type="number" id="interes" formControlName="interes" />
  
      <!-- Otros campos del formulario según tus necesidades -->
  
      <button type="submit">Actualizar Regla</button>
    </form>
  </div>
  